.movie-row {
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.movieList{
  width: 100px;
  height: 100px;
  display: inline-block;
  font-style: italic;
  color: pink;
  text-transform: uppercase
}

.divImageRick{
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.divImageRick:hover{
  transform: scale(1);
  width: 300px;
}

.imageRick{
  border-radius: 24px;
  width: 300px;
  height: 300px;
}

.person{
  color:rgb(207, 24, 24) !important;
}

.valuesNumbers {

  color:aliceblue;
  font-weight: bolder;
}

.modalHeader { 
  background-color: black !important;
  color: azure ;
  font-weight: bolder;
  border-radius: 10px;
}
.modalEpisodieForId {
  background-color: rgb(170, 17, 119) !important;
  border-radius: 60px !important;
  max-width: 700px !important;
}

.nameTitle{
  text-align: center;
  font-weight: bold;
  color:palevioletred;
}

.idTitle {
  text-align: center;
}

.divBest {
  text-align: center !important;
}

