* {
  box-sizing: border-box;
}

body {
  background-color: #111 !important;
  color:#fff;
  margin:0;
  font-weight: bold;
  font-family: Arial;
}

.lists{
  margin: 10px;
  text-align: center;
}

.navBarEdit{
  border-radius: 10px;
  background-color: rgb(248, 241, 241) !important;
  padding: 20px;
}

.textLIst{
  color:white;
  font-weight: bold;
}
.bsSearch{
  margin-top: -6px;
  color:white;
  font-weight: bold !important;
}

.divBottom{
  margin: 10px;
}

.divMaster{
  background-image: url('img.jpg') !important;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
